/target
/Cargo.lock
**/*.rs.bk
.DS_Store
.idea
.vscode

/node_modules
**/bun.lock

# web
web/node_modules
web/.svelte-kit
web/build
web/dist
web/.env
web/.env.*

# secrets
.env
.env.*
!**/.env.example

_ref/
